In [39]:
from pyspark import SparkContext
from pyspark.sql import SparkSession

from pyspark.sql.types import StructType,StructField,IntegerType,StringType,FloatType
from pyspark.sql.types import Row

from pyspark.sql import SQLContext

In [40]:
spark = SparkContext(master="local", appName="DataFrame")
sqlContext = SQLContext(spark)

ValueError: Cannot run multiple SparkContexts at once; existing SparkContext(app=DataFrame, master=local) created by __init__ at <ipython-input-2-7f42945eae83>:1

In [53]:
path="D:\\Proyectos Personales\\Curso Spark\\files"

In [54]:
''' Estructuras Schemas '''

deportistaSchema = StructType([
    StructField("deportista_id",IntegerType(),False),
    StructField("nombre",StringType(),False),
    StructField("genero",IntegerType(),False),
    StructField("edad",IntegerType(),False),
    StructField("altura",IntegerType(),False),
    StructField("peso",FloatType(),False),
    StructField("equipo_id",IntegerType(),False)  
])

juegoSchema = StructType([
    StructField("juego_id",IntegerType(),False),
    StructField("nombre_juego",StringType(),False),
    StructField("anio",IntegerType(),False),
    StructField("temporada",StringType(),False),  
    StructField("ciudad",StringType(),False) 
])

eventoSchema = StructType([
    StructField("evento_id",IntegerType(),False),
    StructField("evento",StringType(),False),
    StructField("deporte_id",IntegerType(),False)

])

paisSchema = StructType ([
    StructField("id",IntegerType(),False),
    StructField("equipo",StringType(),False),
    StructField("sigla",StringType(),False)

])

resultadoSchema = StructType ([
    StructField("resultado_id",IntegerType(),False),
    StructField("medalla",StringType(),False),
    StructField("deportista_id",IntegerType(),False),
    StructField("juego_id",IntegerType(),False),
    StructField("evento_id",IntegerType(),False),

])

In [55]:

deportistaDF = sqlContext.read.schema(deportistaSchema)\
.option("header","true")\
.csv(path+"\\deportista2.csv")

juegoDF = sqlContext.read.schema(juegoSchema)\
.option("header","true")\
.csv(path+"\\juegos.csv")

eventoDF = sqlContext.read.schema(eventoSchema)\
.option("header","true")\
.csv(path+"\\evento.csv")

paisDF = sqlContext.read.schema(paisSchema)\
.option("header","true")\
.csv(path+"\\paises.csv")

resultadoDF = sqlContext.read.schema(resultadoSchema)\
.option("header","true")\
.csv(path+"\\resultados.csv")

In [56]:
deportistaDF.show()

+-------------+--------------------+------+----+------+----+---------+
|deportista_id|              nombre|genero|edad|altura|peso|equipo_id|
+-------------+--------------------+------+----+------+----+---------+
|        67788|            Lee BuTi|     1|  23|   164|54.0|      203|
|        67789|Anthony N. Buddy Lee|     1|  34|   172|62.0|     1096|
|        67790|Alfred A. Butch L...|     1|  19|   186|80.0|      825|
|        67791|        Lee ByeongGu|     1|  22|   175|68.0|      970|
|        67792|       Lee ByeongGyu|     1|  21|   185|82.0|      970|
|        67793|        Lee ByeongIn|     2|  20|   174|69.0|      970|
|        67794|       Lee ByeongNam|     1|  24|   175|75.0|      970|
|        67795|      Lee ByeongYong|     1|  29|   197|98.0|      970|
|        67796|  Kar Wai Calvin Lee|     1|  29|   172|68.0|      470|
|        67797|          Lee ChaeOn|     1|  25|   188|84.0|      970|
|        67798|         Lee ChaeWon|     2|  20|   154|49.0|      970|
|        67799|        Lee Chak Men|     1|   0|   183| 0.0|      929|
|        67800|        Lee ChanDong|     1|  23|   183|83.0|      970|
|        67801|        Lee ChangGil|     1|  19|   177|60.0|      970|
|        67802|         Lee ChangHa|     2|  15|     0| 0.0|      970|
|        67803|        Lee ChangHun|     1|  21|   170|62.0|      970|
|        67804|       Lee ChangHwan|     1|  26|   178|78.0|      970|
|        67805|        Lee ChangMin|     1|  22|   178|74.0|      970|
|        67806|       Lee ChangSeon|     1|  20|   168|70.0|      970|
|        67807|         Lee ChangWu|     1|  21|   187|87.0|      970|
+-------------+--------------------+------+----+------+----+---------+
only showing top 20 rows

In [57]:
deportistaDF.printSchema()

root
 |-- deportista_id: integer (nullable = true)
 |-- nombre: string (nullable = true)
 |-- genero: integer (nullable = true)
 |-- edad: integer (nullable = true)
 |-- altura: integer (nullable = true)
 |-- peso: float (nullable = true)
 |-- equipo_id: integer (nullable = true)

In [58]:
deportistaDF =  deportistaDF.withColumnRenamed("genero","sexo").drop("altura")

In [59]:
from pyspark.sql.functions import *

In [60]:
deportistaDF=deportistaDF.select("deportista_id","nombre",col("edad").alias("edadAlJugar"),"equipo_id")

In [61]:
deportistaDF.show()

+-------------+--------------------+-----------+---------+
|deportista_id|              nombre|edadAlJugar|equipo_id|
+-------------+--------------------+-----------+---------+
|        67788|            Lee BuTi|         23|      203|
|        67789|Anthony N. Buddy Lee|         34|     1096|
|        67790|Alfred A. Butch L...|         19|      825|
|        67791|        Lee ByeongGu|         22|      970|
|        67792|       Lee ByeongGyu|         21|      970|
|        67793|        Lee ByeongIn|         20|      970|
|        67794|       Lee ByeongNam|         24|      970|
|        67795|      Lee ByeongYong|         29|      970|
|        67796|  Kar Wai Calvin Lee|         29|      470|
|        67797|          Lee ChaeOn|         25|      970|
|        67798|         Lee ChaeWon|         20|      970|
|        67799|        Lee Chak Men|          0|      929|
|        67800|        Lee ChanDong|         23|      970|
|        67801|        Lee ChangGil|         19|      970|
|        67802|         Lee ChangHa|         15|      970|
|        67803|        Lee ChangHun|         21|      970|
|        67804|       Lee ChangHwan|         26|      970|
|        67805|        Lee ChangMin|         22|      970|
|        67806|       Lee ChangSeon|         20|      970|
|        67807|         Lee ChangWu|         21|      970|
+-------------+--------------------+-----------+---------+
only showing top 20 rows

In [62]:
deportistaDF.sort("edadAlJugar").show()

+-------------+--------------------+-----------+---------+
|deportista_id|              nombre|edadAlJugar|equipo_id|
+-------------+--------------------+-----------+---------+
|        68312|      Beyene Legesse|          0|      332|
|        68652|    Adjutant Lemoine|          0|      362|
|        68315|     Douglas C. Legg|          0|      413|
|        68302|         Viktor Legt|          0|      259|
|        68317|      Ronald H. Legg|          0|      413|
|        67849|          Edward Lee|          0|      199|
|        68329|        Paul Legrain|          0|      362|
|        67799|        Lee Chak Men|          0|      929|
|        68334|        mile Legrand|          0|      364|
|        67918|        Henry H. Lee|          0|      413|
|        68336|     Fernand Legrand|          0|      364|
|        67900|      Lee GyeongSeop|          0|      970|
|        68337|      Gaston Legrand|          0|      362|
|        68279|         Jean Lefvre|          0|       96|
|        68346|            L. Legru|          0|     1008|
|        68101|         Lee SangHun|          0|      970|
|        68347|      douard Leguery|          0|      362|
|        68199|       Lee YeongHwan|          0|      970|
|        68404|       Kurt Lehrfeld|          0|       71|
|        68249|John Asa Lawrey Lees|          0|       66|
+-------------+--------------------+-----------+---------+
only showing top 20 rows

In [63]:
deportistaDF = deportistaDF.filter(deportistaDF.edadAlJugar!=0 )

In [64]:
deportistaDF.sort("edadAlJugar").show()

+-------------+--------------------+-----------+---------+
|deportista_id|              nombre|edadAlJugar|equipo_id|
+-------------+--------------------+-----------+---------+
|        71691|  Dimitrios Loundras|         10|      333|
|        76675|   Marcelle Matthews|         11|      967|
|        70616|          Liu Luyang|         11|      199|
|       118925|Megan Olwen Deven...|         11|      413|
|       126307|        Liana Vicens|         11|      825|
|        74712|     Carla Marangoni|         12|      507|
|       113580| Inge Srensen Tabur |         12|      273|
|       125092|tienne Nol Henri ...|         12|      362|
|        84913|      Clstine N Drin|         12|      237|
|        72854|      Licia Macchini|         12|      507|
|        99362|Antonia Real Horrach|         12|      982|
|       118832|  Chin Say Molly Tay|         12|      619|
|       125944|        Ines Vercesi|         12|      507|
|       127018|Yelena Germanovna...|         12|      978|
|        74755|Luciana Marcellin...|         12|      507|
|        96664|Dorothy PoyntonHi...|         12|     1096|
|        85316|       Ondrej Nepela|         13|      259|
|        85771|            Nian Yun|         13|      199|
|        80549|       Shizue Miyabe|         13|      514|
|        86657|            No JuHui|         13|      970|
+-------------+--------------------+-----------+---------+
only showing top 20 rows

In [ ]:
''' Joins '''

deportistaDF.join(resultadoDF,"deportista_id")