In [19]:
from pyspark import SparkContext
from pyspark.sql import SparkSession

from pyspark.sql.types import StructType,StructField,IntegerType,StringType,FloatType
from pyspark.sql.types import Row

from pyspark.sql import SQLContext

In [20]:
spark = SparkSession.builder \
        .master("local[5]") \
        .appName("Particionado") \
        .getOrCreate()

In [21]:
df = spark.range(0,20)

In [22]:
df.rdd.getNumPartitions()

5

In [24]:
rdd1=spark.sparkContext.parallelize((0,20),10)
rdd1.getNumPartitions()

10

In [32]:
path="D:\\Proyectos Personales\\Curso Spark\\files"

In [35]:
RddDesdeArchivo = spark.sparkContext.textFile(path+"\\deporte.csv",10)

In [36]:
RddDesdeArchivo.getNumPartitions()

10

In [38]:
RddDesdeArchivo.saveAsTextFile(path+"\\Partitions")

In [42]:
rdd = spark.sparkContext.wholeTextFiles(path+"\\Partitions\\*")

In [43]:
rdd.take(20)

[('file:/D:/Proyectos Personales/Curso Spark/files/Partitions/part-00000',
  'deporte_id,deporte\n1,Basketball\n2,Judo\n3,Football\n4,Tug-Of-War\n5,Speed Skating\n6,Cross Country Skiing\n'),
 ('file:/D:/Proyectos Personales/Curso Spark/files/Partitions/part-00001',
  '7,Athletics\n8,Ice Hockey\n9,Swimming\n10,Badminton\n11,Sailing\n12,Biathlon\n13,Gymnastics\n14,Art Competitions\n'),
 ('file:/D:/Proyectos Personales/Curso Spark/files/Partitions/part-00002',
  '15,Alpine Skiing\n16,Handball\n17,Weightlifting\n18,Wrestling\n19,Luge\n20,Water Polo\n'),
 ('file:/D:/Proyectos Personales/Curso Spark/files/Partitions/part-00003',
  '21,Hockey\n22,Rowing\n23,Bobsleigh\n24,Fencing\n25,Equestrianism\n26,Shooting\n27,Boxing\n28,Taekwondo\n'),
 ('file:/D:/Proyectos Personales/Curso Spark/files/Partitions/part-00004',
  '29,Cycling\n30,Diving\n31,Canoeing\n32,Tennis\n33,Modern Pentathlon\n34,Figure Skating\n35,Golf\n'),
 ('file:/D:/Proyectos Personales/Curso Spark/files/Partitions/part-00005',
  '36,Softball\n37,Archery\n38,Volleyball\n39,Synchronized Swimming\n40,Table Tennis\n41,Nordic Combined\n'),
 ('file:/D:/Proyectos Personales/Curso Spark/files/Partitions/part-00006',
  '42,Baseball\n43,Rhythmic Gymnastics\n44,Freestyle Skiing\n45,Rugby Sevens\n46,Trampolining\n47,Beach Volleyball\n'),
 ('file:/D:/Proyectos Personales/Curso Spark/files/Partitions/part-00007',
  '48,Triathlon\n49,Ski Jumping\n50,Curling\n51,Snowboarding\n52,Rugby\n53,Short Track Speed Skating\n'),
 ('file:/D:/Proyectos Personales/Curso Spark/files/Partitions/part-00008',
  '54,Skeleton\n55,Lacrosse\n56,Polo\n57,Cricket\n58,Racquets\n59,Motorboating\n60,Military Ski Patrol\n'),
 ('file:/D:/Proyectos Personales/Curso Spark/files/Partitions/part-00009',
  '61,Croquet\n62,Jeu De Paume\n63,Roque\n64,Alpinism\n65,Basque Pelota\n66,Aeronautics\n')]

In [59]:
lista  = rdd.mapValues(lambda x: x.split()).collect()

In [60]:
lista = [l[0] for l in lista]
lista.sort()

In [61]:
lista

['file:/D:/Proyectos Personales/Curso Spark/files/Partitions/part-00000',
 'file:/D:/Proyectos Personales/Curso Spark/files/Partitions/part-00001',
 'file:/D:/Proyectos Personales/Curso Spark/files/Partitions/part-00002',
 'file:/D:/Proyectos Personales/Curso Spark/files/Partitions/part-00003',
 'file:/D:/Proyectos Personales/Curso Spark/files/Partitions/part-00004',
 'file:/D:/Proyectos Personales/Curso Spark/files/Partitions/part-00005',
 'file:/D:/Proyectos Personales/Curso Spark/files/Partitions/part-00006',
 'file:/D:/Proyectos Personales/Curso Spark/files/Partitions/part-00007',
 'file:/D:/Proyectos Personales/Curso Spark/files/Partitions/part-00008',
 'file:/D:/Proyectos Personales/Curso Spark/files/Partitions/part-00009']

In [64]:
rdd3 = spark.sparkContext.textFile(','.join(lista),10).map(lambda x:x.split(","))

In [66]:
rdd3.take(30)

[['deporte_id', 'deporte'],
 ['1', 'Basketball'],
 ['2', 'Judo'],
 ['3', 'Football'],
 ['4', 'Tug-Of-War'],
 ['5', 'Speed Skating'],
 ['6', 'Cross Country Skiing'],
 ['7', 'Athletics'],
 ['8', 'Ice Hockey'],
 ['9', 'Swimming'],
 ['10', 'Badminton'],
 ['11', 'Sailing'],
 ['12', 'Biathlon'],
 ['13', 'Gymnastics'],
 ['14', 'Art Competitions'],
 ['15', 'Alpine Skiing'],
 ['16', 'Handball'],
 ['17', 'Weightlifting'],
 ['18', 'Wrestling'],
 ['19', 'Luge'],
 ['20', 'Water Polo'],
 ['21', 'Hockey'],
 ['22', 'Rowing'],
 ['23', 'Bobsleigh'],
 ['24', 'Fencing'],
 ['25', 'Equestrianism'],
 ['26', 'Shooting'],
 ['27', 'Boxing'],
 ['28', 'Taekwondo'],
 ['29', 'Cycling']]

In [18]:
spark.stop()